<%- include("./partial/header.ejs") %>
<%- include("./partial/navbar.ejs") %>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7173673170921420"crossorigin="anonymous"></script>

<style>
    .tag {
        color: #8F9BAD;
        border: solid 1px #EBEBEB;
        border-radius: 25px;
        font-size: 13px;
        display: inline-block;
        padding: 3px 14px;
        margin: 4px 2px !important;
    }

    .btnF{
        width: fit-content;
            position: relative;
            bottom: 1rem;
            opacity: 1;
            border-radius: 200px;
            padding: 1rem;
    }
    .btnF span{
                font-size: 15px;
                display: flex;
                gap: 5px;
                align-items: center;
    }
    .our-brands{
        display:flex;justify-content:space-around;align-items:flex-end
    }
    #query_for .form-control{
        width:fit-content;
    }

    #issue_body {
        max-height:550px; overflow:auto;
    }
    #issue_body h5{
    color: rgb(253, 93, 117);
    }
    .w-1{
        width:4rem;
    }
    .w-2{
        width:4rem;
    }
    .bold-head{
        font-weight: bold; color: rgb(253, 93, 117);
    }
    .color-head{
        color: rgb(253, 93, 117);
    }
    .imgDesc{
        width:100%;text-align:center;display:block;margin-top:.5rem
    }

    .widget-title{
        text-align:left !important;
    }
    .imgDesc p {
        margin:auto;width:75%;text-align:center;font-weight:700;font-style:italic;font-size:.8rem
    }
    body {
    height: fit-content;
    }

    .inner img{
        height: 56px;
    }
        .post-content p,span {
            text-align:justify
        }
        .author {
        width: 40px;
        padding: 5px 0px;
        height: 38px;
        border: 1px solid rgb(224, 224, 224);
        background: #fff;
        border-radius: 50%;
    }
        .chatbox .form-control {
            padding: 4px 16px;
        }
        #sandy a {
            color:#4f58fe;
        }
        .social-icons a {
        font-size: 13px;
        }

        .post .post-format {
        padding-top: 13px;

        }
        * {
            text-align: left;
        }
        .widget-title {
            text-align: center  !important;
        }
        .burger-menu {
            display: none !important;
            }
        @media only screen and (max-width: 600px) {
            .burger-menu {
            display: inherit !important;
            }
        }
</style>

<section class="page-header">
    <div class="container-xl">
        <div class="text-center">
            <h1 style="text-align: center; text-transform: capitalize;" class="mt-0 mb-2">
                <%= finalObj.newslettertext.replace(/-/g, " ") %>
            </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li></li>
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <%= finalObj.newsletterdata.subject %>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="main-content" style="height: fit-content;" >
    <div class="container-xl">
        <div class="row gy-4">

            <div class="col-lg-8">
                <!-- post single -->
                <div class="post post-single">
                    <!-- featured image -->
                        <br/>
                    <!-- post content -->
                    <div  class="post-content clearfix">
                        
                          <table width='100%' style='margin-left:auto; margin-right:auto; width:100%; max-width:600px;' align='center' border='0' cellpadding='0' cellspacing='0' style='font-family: \"Poppins\", sans-serif;'>

    <tr>
        <td style='padding:1.5rem; padding-bottom:1rem;'>
            <table width='100%' align='center' border='0' cellpadding='0' cellspacing='0'>

                <tr>
                    <td style='text-align:center;'>
                        <img src='https://stories.jobaaj.com/files/manage/newsletter_mail/buzzfeed.png' style='width:300px;' alt=''>
                    </td>
                </tr>

                <tr>
                    <td>
                        <%- finalObj.newsletterdata.head_text %>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    <tr>
        <td style='background:#fafafa; border-radius:10px; padding:1.5rem;'>

            <table width='100%' align='center' border='0' cellpadding='0' cellspacing='0'>

                <tr>
                    <td style='padding-bottom:1rem; font-size:20px; font-weight:bold; text-align:center;'>
                        What the Newsletter holds
                    </td>
                </tr>
                <% finalObj.newsletterdata.post.forEach(function(blog) { %>
                    <tr>
                        <td>
                            <table width='100%' align='center' border='0' cellpadding='0' cellspacing='0'>
                                <tr>
                                    <td style='text-align: center;'>
                                        <a href='<%= blog.url%>' style='text-decoration:none;'>
                                            <img src='<%= blog.thumbnail; %>' alt='thumbnail' style=' width:100%; border-radius:10px;'>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style='padding-top:0.5rem;'><%- blog.content %>&nbsp;<a href='<%= blog.url%>' style='text-decoration:none;'><br><span style='font-size:14px; color:red; font-weight:bold;'>Read More</span></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style='padding-bottom:1.8rem; padding-top:1rem; text-align:center;'>
                            <img src='https://stories.jobaaj.com/files/manage/newsletter_mail/line.png' style='width:18rem;' alt='Graphic-Divider'>
                        </td>
                    </tr>
                <% }); %>

            </table>
        </td>
    </tr>

    <tr>
        <td style='padding:1.5rem;'>
            <table width='100%' align='center' border='0' cellpadding='0' cellspacing='0'>
                <tr>
                    <td>
                        <span style='font-size:18px; font-weight:bold;'>HR Speaks:&nbsp;</span>
                        <br>
                        <span><%- finalObj.newsletterdata.hr_text; %></span>
                    </td>
                </tr>

                <tr>
                    <td style="padding:0.5rem 6rem;">
                        <table width='100%' align='center' border='0' cellpadding='0' cellspacing='0'>
                            <tr>
                                <td class='img' width='34' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                    <a href='https://www.instagram.com/jobaaj.com_/' target='_blank'><img src='https://jobaaj.com/mail/images/Instagram.png' width='34' height='34' border='0' alt='' /></a>
                                </td>
                                <td class='img' width='15' style='font-size:0pt; line-height:0pt; text-align:left;'></td>
                                <td class='img' width='34' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                    <a href='https://www.linkedin.com/company/jobaaj-com' target='_blank'><img src='https://jobaaj.com/mail/images/linkedin-logo.png' width='50' height='50' border='0' alt='' /></a>
                                </td>
                                <td class='img' width='15' style='font-size:0pt; line-height:0pt; text-align:left;'></td>
                                <td class='img' width='34' style='font-size:0pt; line-height:0pt; text-align:left;'>
                                    <a href='https://t.me/jobaaj' target='_blank'><img src='https://jobaaj.com/mail/images/telegram.png' width='34' height='34' border='0' alt='' /></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    </div>
    <br><br>
    
        <ins 
        class="adsbygoogle"
        style="display:block;text-align:center;height:180px;"
        data-ad-format="fluid"
        data-ad-layout-key="in-article"
        data-ad-client="ca-pub-7173673170921420"
        data-ad-slot="1363350575">
        </ins>

</div>

                <div class="spacer" data-height="50"></div>

                <!-- section header -->
        
                <div class="spacer" data-height="50"></div>

                <!-- section header -->
                </div>
        <!-- Sidebar -->
        <div class="col-lg-4">
            <div class="sidebar">
                <div class="widget rounded">
                    <div class="widget-header text-center">
                        <h3 class="widget-title">Similar Stories</h3>
                    </div>
                    <div class="widget-content">

                        <!-- similar story -->
                        <% finalObj.similarStory.forEach(function(story) { %>
                            <div class="post post-list-sm circle">
                                <div class="thumb circle">
                                    <a href="<%= story.url %>">
                                        <div class="inner">
                                            <img class="img" src="<%= story.thumb %>" alt="post-title" />
                                        </div>
                                    </a>
                                </div>
                                <div class="details clearfix">
                                    <h6 class="post-title my-0"><a href="<%= story.url %>"><%= story.title %></a></h6>
                                    <ul class="meta list-inline mt-1 mb-0">
                                        <li class="list-inline-item"><%= story.date %> </li>
                                    </ul>
                                </div>
                            </div>
                        <% }); %>
                        

                    </div>
                </div>

                <%- include("./partial/sidebar.ejs") %>
       
      </div>
    </div>
</section>


<%- include("./partial/footer.ejs") %>
<%- include("./partial/footer-link.ejs") %>