<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="og:site_name" content="stories.jobaaj.com">
    <meta property="og:type" content="website">
    <meta name="robots" content="ALL">
	<meta name='author' content='stories.jobaaj.com'>
	<meta name='publisher' content='Jobaaj'>
	
	<!-- Meta Dynamic -->
	<title><%= finalObj.metaData.title%></title>
    <meta name="description"        content="<%= finalObj.metaData.og_discription %>" />
    <meta name="og:title"       content="<%= finalObj.metaData.title%>" />
    <meta name="og:description" content="<%= finalObj.metaData.og_discription %>" />
    <meta name="og:url" content="<%= finalObj.metaData.og_url %>" />
    <meta name="keywords" content="<%= finalObj.metaData.og_key %>" />
    <link rel="canonical" href='<%= finalObj.metaData.og_url %>' />

    
	<base href="https://testexpress3.jobaaj.com">
    <!-- STYLES -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/all.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/slick.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/simple-line-icons.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all">

	<!-- Slick -->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<!-- bootstrapp icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

</head>
<body>

    <!-- preloader -->
<div id="preloader">
	<div class="book">
		<div class="inner">
			<div class="left"></div>
			<div class="middle"></div>
			<div class="right"></div>
		</div>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>
<!-- site wrapper -->
<div class="site-wrapper">

	<div class="main-overlay"></div>
